  <meta charset="utf-8">                                               <!-- defines character set -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">                <!-- makes your html mostly compatible with IE 8 and 9 -->
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- sets a viewport for mobile so it recognizes device width -->
  <title>To Do??? Or Not To Do?</title>                                <!--  title that shows in the tab -->
  <link rel="stylesheet" href="../css/style.css">                      <!-- yo main css stylesheet -->
