<!DOCTYPE html>
<html lang="en"> <!-- sets to english -->
<head>
  <% include ../partials/head %> <!-- Looks for your head partial and plugs in the code here (SUPER DRY for multiple-page sites) -->
</head>
<body>
  <div class="main-container">
    <a href="/">Home</a>
    <h1>SHWIFTAAAYYYYYY<br> HERE'S YOUR LIST, SON!</h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  <!-- jQuery from the google dev CDN -->
  <script src="js/main.js"></script> <!-- Your main js file for making your page do random things like parallaxing and whatever behavior you want the page to have outside of angular -->
</body>
</html>
